@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.cabecalho{
    text-align: center;
    padding: 150px 0px;
    background-image: url("Imagens/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.cabecalho h1{
    font-weight: bolder;
    font-size: 2.3em;
    padding-bottom: 30px;
}

.cabecalho p{
    font-weight: 600;
    text-align: justify;
    padding: 0px 30px 60px 30px;
}

.cabecalho a{
    text-decoration: none;
    font-size: 1.1em;
    color: white;
    background-color:#333333;
    padding: 20px 40px;
}

.cabecalho a:hover{
    background-color: white;
    color: #333333;
}

.primeira-section{
    margin: 0 auto;
    max-width: 774px;
    text-align: center;
    padding: 50px 0px;
}

.primeira-section{
    max-width: 350px;
}

.primeira-section h1{
    padding-bottom: 50px;
}

.segunda-section{
    background: #252a2f;
    width: 100%;
    margin: 0 auto;
}


.segunda-section img{
    width: 350px;
}
div#informations{
    max-width: 350px;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    padding-bottom: 50px;
    margin-bottom: 20px;
}

div#informations h1{
    font-size: 1.6em;
    padding: 50px 0px;
}

div#informations p{
    max-width: 300px;
    margin: 0 auto;
    text-align: justify;
    line-height: 1.7em;
}

p#texto{
    padding: 0px 25px;
}

.terceira-section{
    text-align: center;
}
.terceira-section h1{
    font-size: 1.75em;
    padding: 50px 0px;
}

.terceira-section p{
    max-width: 450px;
    margin: 0 auto;
    text-align: justify;
    line-height: 1.8em;
}

div#digital{
    margin: 0 auto;
    max-width: 1024px;
    padding-bottom: 50px;
    padding-bottom: 50px;
}

.contact{
    font-size: 1em;
    margin: 0 auto;
    background-color: #2690d4;
    color: white;
    padding: 50px;
}

.contact p{
    text-align: center;
}
p#email{
    text-align: center;
    padding: 30px 0px;
    text-decoration: underline;
}

.company{
    max-width: 100%;
    margin: 0 auto;
    background-color: #333333;
    color: white;
    padding: 50px;
    text-align: justify;
}

.company h1{
    text-align: center;
}

footer{

    background-color: black;
    color: white;
}

footer h1{
    font-size:1em;
    text-align: center;
}

footer p{
    text-align: center;
}

footer a{
    color: #2690d4;
    text-decoration: none;
}
/* Tablets */
@media screen and (min-width: 834px) and (max-width: 1024px) {
    .primeira-section{
        max-width: 1024px;
    }
    .segunda-section {
      padding: 50px;
      display: flex;
      justify-content: space-between;
    }
  
    .nootbook1, .celular, .nootbook2 {
      width: 31%;
      margin: 20px;
      text-align: center;
    }
  
    .segunda-section img {
      width: 100%;

    }

    div#informations{
        text-align: center;
        max-width: 260px;
    }

    div#digital{
        max-width: 1024px;
    }

    div#texto{
        max-width: 1024px;
    }
    
    footer{
        display: flex;
        justify-content: space-around;
        padding: 30px 0px;
    }
  }
  /* desktop */

  @media screen and (min-width:1025px) and (max-width: 1920px) {
    
    
  }
  
  